<a href="https://colab.research.google.com/github/Kimjibeom/Python_Personal_Review/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8(for).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 반복문 for

a = 'abcdefg'
for i in a:
  print(i)

a
b
c
d
e
f
g

In [2]:
a = ['python','java','c/c++','c#']
for i in a:
  print(i)

python
java
c/c++
c#

In [6]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [12]:
a = [(1,2),(3,4),(5,6)]
for i in a:
  print(i)

(1, 2)
(3, 4)
(5, 6)

In [14]:
a = [(1,2),(3,4),(5,6)]
for i in a: #i == (1,2)
  for j in i : 
    print(j)

1
2
3
4
5
6

In [15]:
a = [[1,2,3,4,5],['a','b','c'],[11,12,13,14]]
for i in a: 
  for j in i : 
    print(j)

1
2
3
4
5
a
b
c
11
12
13
14

In [16]:
a = [[[1,2,3,4,5],['a','b','c'],[11,12,13,14]]]
for i in a: 
  for j in i : 
    print(j)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[11, 12, 13, 14]

In [20]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for i in student:
  print(i)

{'홍길동': 100}
{'가제트': 200}
{'가가멜': 300}

In [21]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for i in student:
  print(i.items())

dict_items([('홍길동', 100)])
dict_items([('가제트', 200)])
dict_items([('가가멜', 300)])

In [23]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for i in student:
  print(list(i.items()))

[('홍길동', 100)]
[('가제트', 200)]
[('가가멜', 300)]

In [24]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for i in student:
  print(list(i.items())[0])

('홍길동', 100)
('가제트', 200)
('가가멜', 300)

In [26]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for i in student:
  data = (list(i.items())[0])
  name = data[0]
  value = data[1]
  print('이름: {} 점수: {}'.format(name, value))

이름: 홍길동 점수: 100
이름: 가제트 점수: 200
이름: 가가멜 점수: 300

In [29]:
student = [{'홍길동': 100},{'가제트': 200},{'가가멜': 300}]

for s,i in enumerate(student, start=1):
  data = (list(i.items())[0])
  name = data[0]
  value = data[1]
  print('{}. 이름: {} 점수: {}'.format(s, name, value))

1. 이름: 홍길동 점수: 100
2. 이름: 가제트 점수: 200
3. 이름: 가가멜 점수: 300

In [31]:
msg = 'python programming'

for s,i in enumerate(msg, start=1):
  print(s, i)

1 p
2 y
3 t
4 h
5 o
6 n
7
8 p
9 r
10 o
11 g
12 r
13 a
14 m
15 m
16 i
17 n
18 g

In [33]:
result = []
for num in range(1,6):
  result.append(num +5)
print(result)

[6, 7, 8, 9, 10]

In [34]:
# result = []
# for num in range(1,6):
#   result.append(num +5)

result = [num + 5 for num in range(1,6)]
print(result)

[6, 7, 8, 9, 10]

In [35]:
result = [num +5 for num in range(1,10) if num % 2 ==0]
print(result)

[7, 9, 11, 13]

In [38]:
# result = [num *3 for num in range(1,100) if num % 2 ==0]
# print(result)

for num in range(0,99):
  if num % 2 ==0:
    result.append(num * 3)

print(result)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294]

In [47]:
# for i in range(2,10):
#   for j in range(1,10):
#     result = i * j
#     print('{} x {} = {}'.format(i,j,result))

gugudan = ['{} x {} = {}'.format(i,j,i*j) for i in range(2,10) for j in range(1,10)]
print(gugudan)

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n', '2 x 6 = 12\n', '2 x 7 = 14\n', '2 x 8 = 16\n', '2 x 9 = 18\n', '3 x 1 = 3\n', '3 x 2 = 6\n', '3 x 3 = 9\n', '3 x 4 = 12\n', '3 x 5 = 15\n', '3 x 6 = 18\n', '3 x 7 = 21\n', '3 x 8 = 24\n', '3 x 9 = 27\n', '4 x 1 = 4\n', '4 x 2 = 8\n', '4 x 3 = 12\n', '4 x 4 = 16\n', '4 x 5 = 20\n', '4 x 6 = 24\n', '4 x 7 = 28\n', '4 x 8 = 32\n', '4 x 9 = 36\n', '5 x 1 = 5\n', '5 x 2 = 10\n', '5 x 3 = 15\n', '5 x 4 = 20\n', '5 x 5 = 25\n', '5 x 6 = 30\n', '5 x 7 = 35\n', '5 x 8 = 40\n', '5 x 9 = 45\n', '6 x 1 = 6\n', '6 x 2 = 12\n', '6 x 3 = 18\n', '6 x 4 = 24\n', '6 x 5 = 30\n', '6 x 6 = 36\n', '6 x 7 = 42\n', '6 x 8 = 48\n', '6 x 9 = 54\n', '7 x 1 = 7\n', '7 x 2 = 14\n', '7 x 3 = 21\n', '7 x 4 = 28\n', '7 x 5 = 35\n', '7 x 6 = 42\n', '7 x 7 = 49\n', '7 x 8 = 56\n', '7 x 9 = 63\n', '8 x 1 = 8\n', '8 x 2 = 16\n', '8 x 3 = 24\n', '8 x 4 = 32\n', '8 x 5 = 40\n', '8 x 6 = 48\n', '8 x 7 = 56\n', '8 x 8 = 64\n', '8 x 9 = 72\n', '9 x 1 = 9\n', '9 x 2 = 18\n', '9 x 3 = 27\n', '9 x 4 = 36\n', '9 x 5 = 45\n', '9 x 6 = 54\n', '9 x 7 = 63\n', '9 x 8 = 72\n', '9 x 9 = 81\n']